.dailyui
  h1 Daily UI #001
  span Sign Up

.panel
  p.alltitle
    span.subtitle 100days!
    br
    span.title DailyUI
  img(src="https://s27.postimg.org/xc432u6eb/search.jpg", alt="no way")

  .data
    .datainput
      input.datainput1(type="text",placeholder="Enter e-mail...")
      br
      input.datainput2(type="text",placeholder="Enter passwords...")
    
    p.othertext
    
      input.check(type="checkbox" )
      span Keep me signed in
      br
      input.signup(type="submit" value="SIGN UP!")
      
      .bottomtext
        p Already had an account?
          br
          u.signin SIGN IN
